.wrapper {
  background-color: red;
  padding: 25px;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  gap: 20px;
}

.score {
  color: #5357B6;
  background-color: #F5F6FA;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}


.minusIcon {
  margin-top: 5px;
  text-align: center;
}

.commentRightSide {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userImage {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.commentTopRow {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.commentInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.username {
  font-weight: bold;
  color: #334253;
}

.createdAt {
  color: #67727E;
}

.replyButton {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #5357B6;
  font-weight: bold;
}

.content {
  font-size: 16px;
  color: #67727E;
}

.replies {
  padding-top: 20px;
  padding-bottom: 20px;
}

.replyWrapper {
  display: flex;
}

.lineWrapper {
  display: flex;
}

.lineInMiddle {
  width: 100px;
  background: linear-gradient(to right,
      transparent 0%,
      transparent calc(50% - 0.81px),
      #979797 calc(50% - 0.8px),
      #979797 calc(50% + 0.8px),
      transparent calc(50% + 0.81px),
      transparent 100%);
}

.reply {
  margin-bottom: 10px;
}

.replyUsername {
  font-weight: bold;
  color: #5357B6;
  margin-right: 5px;
}

.youTag {
  background-color: #5357B6;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 3px 10px;
  margin-left: 5px;
  font-size: 14px;
}

.commentActions {
  display: flex;
  gap: 10px;
}

.deleteButton {
  color: red;
}