.wrapper {
  background-color: #FFFFFF;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.userImage {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.inputTextarea {
  border: 1px solid rgb(233, 233, 233);
  border-radius: 10px;
  font-family: sans-serif;
  padding: 15px;
  flex: 1;
  min-height: 100px;
  font-size: 16px;
  resize: none;
}

.inputTextArea:focus,
.inputTextArea:active {
  outline: #5357B6;
  border-color: #5357B6;
}

.sendButtonWrapper {
  display: flex;
  justify-content: flex-start;
}

.sendButton {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #5357B6;
  color: #FFFFFF;
  letter-spacing: 1px;
  border: none;
  padding: 20px 30px;
  height: 50px;
  cursor: pointer;
}

.sendButton:active {
  opacity: 50%;
}